.form-btn {
  width: 20%;
}
.contact {
  margin-bottom: 100px;
  /* box-shadow: 1px 15px 10px  var(--gray-text); */
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 2;
}
